.Auth-container {
  background-image: url("/src/assets/images/bg3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

form {
  background: var(--form-color);
}
.text-Auth {
  font-size: 13px;
  font-weight: 500;
  padding: 0 !important;
}

.text h2 {
  font-size: 32px;
  font-weight: 700;
  color: var(--main-color);
}

.text h2::first-letter {
  border-bottom: 2px solid var(--main-color);
}

input[type="text"],
input[type="password"],
input[type="email"] {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid var(--white-color);
  border-radius: 0;
  color: var(--white-color) !important;
  padding: 5px !important;
  padding-left: 0 !important;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  background-color: transparent !important;
  outline: none !important;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="password"]::placeholder {
  color: #999 !important;
  padding: 5px 0 0 0;
}

label {
  color: var(--main-color);
}

button.submit {
  background-color: var(--main-color) !important;
}

.form-control:focus {
  box-shadow: none !important;
}

.image-width {
  width: 100px;
  outline: none;
  border: none;
  height: 100px;
}

.upload {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fa-eye-slash,
.fa-eye {
  bottom: 30px;
  right: 10px;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

.fa-search {
  top: 11px;
  left: 30px;
}
