* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: rgba(239, 155, 40, 1);
}

:root {
  --main-color: rgba(239, 155, 40, 1);
  --form-color: rgba(49, 89, 81, 0.9);
  --white-color: white;
  --th-color: #315951e5;
  --h2-Dynamic: #4f4f4f;
}

.color {
  color: var(--main-color) !important;
}

.background-pass {
  background-color: #0e382f;
}

.form-control:-webkit-autofill,
.form-control:-webkit-autofill,
:-webkit-autofill:hover,
.form-control:-webkit-autofill,
:-webkit-autofill:focus,
.form-control:-webkit-autofill,
:-webkit-autofill:active {
  transition: background-color 5000s;
  /* -webkit-text-fill-color: white !important; */
  background-color: transparent !important;
  outline: 0 !important;
}

body {
  font-size: 12em;
}

.Dynamic-heading {
  color: var(--h2-Dynamic);
}
.btn-class {
  background-color: var(--main-color) !important;
}

/* .height { */
/* min-height: 85%; */
/* } */
.icons {
  z-index: 55;
  top: 2.7rem;
  right: 2em;
}

.text h2::first-letter {
  border-bottom: 2px solid var(--main-color);
}
.text h2 {
  font-size: 32px;
  font-weight: 700;
  color: var(--main-color);
}
.triangleUp {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid var(--white-color);
  position: absolute;
  top: -13px;
  right: 1.8em;
}
th {
  background-color: var(--th-color) !important;
  color: var(--white-color) !important;
}

/* .Auth-container { */
  /* background-image: url(../../../../assets/images/bg3.png); */
  /* background-position: center; */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
/* } */

form {
  background: rgba(49, 89, 81, 0.9);
}
.text-Auth {
  font-size: 13px;
  font-weight: 500;
  padding: 0 !important;
}

.text h2 {
  font-size: 32px;
  font-weight: 700;
  color: rgba(239, 155, 40, 1);
}

.text h2::first-letter {
  border-bottom: 2px solid rgba(239, 155, 40, 1);
}

input[type="text"],
input[type="password"],
input[type="email"] {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid white;
  border-radius: 0;
  color: white !important;
  padding: 5px !important;
  padding-left: 0 !important;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  background-color: transparent !important;
  outline: none !important;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="password"]::placeholder {
  color: #999 !important;
}

label {
  color: rgba(239, 155, 40, 1);
}

button.submit {
  background-color: rgba(239, 155, 40, 1) !important;
}

.form-control:focus {
  box-shadow: none !important;
}

.image-width {
  width: 100px;
  outline: none;
  border: none;
  /* height: 100px; */
}

.upload {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fa-eye-slash,
.fa-eye {
  bottom: 7px;
  right: 10px;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

.fa-search {
  top: 11px;
  left: 15px;
}

.btn-class {
  background-color: var(--main-color) !important;
}

/* .height { */
/* min-height: 100%; */
/* } */

.icons {
  top: 30px;
  left: 40px;
  z-index: 55;
}
th {
  background-color: #315951e5 !important;
  color: white !important;
}

.search {
  top: 12px;
  left: 30px;
}

.grabbable {
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

/* (Optional) Apply a "closed-hand" cursor during drag operation. */
.grabbable:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
.task-bg {
  background: #ef9b28;
  border: #4f4f4f;
  border-radius: 8px;
}
/* DashBoard */
.DashBoardSpan {
  color: var(--main-color);
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 400;
  line-height: 43.88px;
}
.DashBoard {
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 400;
  padding: 15px;

  line-height: 43.88px;
}
/* imgDashBoard */
.bgHeaderh {
  background-image: url(./assets/images/bg-header.jpg);
  border-radius: 2rem;
  background-size: cover;
  width: 100%;
  color: white;
}
.head {
  border-left: #ef9b28 solid 5px;
  padding-left: 1em;
}
.task-icon-bg {
  background: #e4e4bc;
  border-radius: 15px;
}
.project-icon-bg {
  background: #e7c3d7;
  border-radius: 15px;
}

.left-side-not-collapsed {
  padding-left: 15em;
}
.fa-solid.fa-bars {
  font-size: 20px;
  z-index: 20;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 10px;
  color: white;
  display: none;
}

@media (max-width: 991px) {
  .left-side-not-collapsed {
    padding-left: 0;
  }
  .navbar {
    z-index: 0 !important;
    position: absolute !important;
  }
  .fa-solid.fa-bars {
    display: block;
    /* z-index: 5 !important; */
    margin: 0.7em;
  }
  .icon-toogle {
    margin-top: 0;
  }
}
.icon-toogle {
  margin-top: 4em;
}
@media (max-width: 888px) {
  .triangleUp {
    left: 1.8em;
  }
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead tr {
    position: absolute;
    top: -10000px;
    left: -10000px;
  }

  tr {
    border-bottom: 1px solid #ccc;
  }

  td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 80%;
  }

  td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 35%;
    padding-right: 35px;
    white-space: nowrap;
  }
  .projects-table td:nth-of-type(1):before {
    content: "#";
    color: #0e382f !important;
    font-size: 15px !important;
    font-weight: 700 !important;
  }
  .projects-table td:nth-of-type(2):before {
    content: "Title";
    color: #0e382f !important;
    font-size: 15px !important;
    font-weight: 700 !important;
  }
  .projects-table td:nth-of-type(3):before {
    content: "Nums Tasks";
    color: #0e382f !important;
    font-size: 15px !important;
    font-weight: 700 !important;
  }
  .projects-table td:nth-of-type(4):before {
    content: "Users";
    color: #0e382f !important;
    font-size: 15px !important;
    font-weight: 700 !important;
  }
  .projects-table td:nth-of-type(5):before {
    content: "Project";
    color: #0e382f !important;
    font-size: 15px !important;
    font-weight: 700 !important;
  }
  .projects-table td:nth-of-type(6):before {
    content: "Creation Date";
    color: #0e382f !important;
    font-size: 15px !important;
    font-weight: 700 !important;
  }
  .projects-table td:nth-of-type(7):before {
    content: "Actions";
    margin: 2px;
    color: #0e382f !important;
    font-size: 15px !important;
    font-weight: 700 !important;
  }

  .tasks-table td:nth-of-type(1):before {
    content: "#";
    color: #0e382f !important;
    font-size: 15px !important;
    font-weight: 700 !important;
  }
  .tasks-table td:nth-of-type(2):before {
    content: "Title";
    color: #0e382f !important;
    font-size: 15px !important;
    font-weight: 700 !important;
  }
  .tasks-table td:nth-of-type(3):before {
    content: "Status";
    color: #0e382f !important;
    font-size: 15px !important;
    font-weight: 700 !important;
  }
  .tasks-table td:nth-of-type(4):before {
    content: "Users";
    color: #0e382f !important;
    font-size: 15px !important;
    font-weight: 700 !important;
  }
  .tasks-table td:nth-of-type(5):before {
    content: "Projects";
    color: #0e382f !important;
    font-size: 15px !important;
    font-weight: 700 !important;
  }
  .tasks-table td:nth-of-type(6):before {
    content: "Creations Date";
    color: #0e382f !important;
    font-size: 15px !important;
    font-weight: 700 !important;
  }
  .tasks-table td:nth-of-type(7):before {
    content: "Actions";
    color: #0e382f !important;
    font-size: 15px !important;
    font-weight: 700 !important;
  }
  .users-table td:nth-of-type(1):before {
    content: "#";
    color: #0e382f !important;
    font-size: 15px !important;
    font-weight: 700 !important;
  } 
  .users-table td:nth-of-type(2):before {
    content: "Image";
    color: #0e382f !important;
    font-size: 15px !important;
    font-weight: 700 !important;
  } 
  .users-table td:nth-of-type(3):before {
    content: "User Name";
    color: #0e382f !important;
    font-size: 15px !important;
    font-weight: 700 !important;
  } 
  .users-table td:nth-of-type(4):before {
    content: "Status";
    color: #0e382f !important;
    font-size: 15px !important;
    font-weight: 700 !important;
  } 
  .users-table td:nth-of-type(5):before {
    content: "Phone Number";
    color: #0e382f !important;
    font-size: 15px !important;
    font-weight: 700 !important;
  } 
}
