/* bg img */
.Auth-container {
  background-image: url("/src/assets/images/bg3.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* bg color form */
form {
  background: rgba(49, 89, 81, 0.9);
}

/* p form */
.text p {
  font-size: 13px;
  font-weight: 500;
  padding: 0 !important;
}
/* h form */
.text h2 {
  font-size: 32px;
  font-weight: 700;
  color: rgba(239, 155, 40, 1);
}

/* Line h Form */
.text h2::first-letter {
  border-bottom: 2px solid rgba(239, 155, 40, 1);
}

/* Form input */
input[type="password"],
input[type="email"] {
  background-color: transparent !important;
  border: 0;
  border-bottom: 1px solid white;
  border-radius: 0;
  color: white !important;
  padding: 5px !important;
  padding-left: 10px !important;
}

input[type="email"]:focus,
input[type="password"]:focus {
  background-color: transparent !important;
  outline: 0px !important;
}

input[type="email"]::placeholder,
input[type="password"]::placeholder {
  color: white;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.01em;
}

/* Label */
label {
  color: rgba(239, 155, 40, 1);
}

/* button */
button.submit {
  background-color: rgba(239, 155, 40, 1) !important;
}

/* eye Password */
.visibilty-password {
  position: relative;
}
.for-visibilty-password-button {
  position: absolute;
  top: 40%;
  right: 0;
  border: none !important;
  color: a !important;
  background-color: transparent !important;
}
.for-visibilty-password-button:hover {
  background-color: transparent !important;
  color: gray !important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
  transition: background-color 5000s;
  -webkit-text-fill-color: white !important;
  background-color: transparent !important;
  outline: none !important;
}