.Authcontainer{
    background-image: url(../../../../assets/images/bg3.png);
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
    
    }

.text-Auth{
    font-size: 13px;
    font-weight: 500;
    padding: 0!important;  
  }
  
  .text h2 {
    font-size: 32px;
    font-weight: 700;
    color: rgba(239, 155, 40, 1);
  }
  
  .text h2::first-letter{
    border-bottom: 2px solid rgba(239, 155, 40, 1);
  }
  input[type="text"],
  input[type="password"],
  input[type="email"] {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid white;
  border-radius: 0;
  color: white !important;
  padding: 5px !important;
  padding-left: 0 !important;
  
  }
  .input{
    position: relative;
  }
  .toggle-password-icon{
  position: absolute;
  right: 10px;
  bottom: 10px;
  /* transform: translateY(-50%);   */
  cursor: pointer; 
  color: gray !important;
  }
  
  input[type="text"]:focus ,
  input[type="email"]:focus ,
  input[type="password"]:focus{
  background-color: transparent;
  outline: none !important;
  
  border-bottom: 1px solid white !important;
  }
  
  input[type="text"]::placeholder,
  input[type="email"]::placeholder,
  input[type="password"]::placeholder {
  color: #999; 
  }
  label{color: rgba(239, 155, 40, 1);}
  
  .button.submit{
    background-color: rgba(239, 155, 40, 1) !important;
  } 
  